[submodule "SO/assignments/mini-libc"]
	path = SO/assignments/mini-libc
	url = https://gitlab.cs.pub.ro/vconstantinescu2109/mini-libc
[submodule "SO/assignments/memory-allocator"]
	path = SO/assignments/memory-allocator
	url = https://gitlab.cs.pub.ro/vconstantinescu2109/memory-allocator
[submodule "SO/assignments/parallel-graph"]
	path = SO/assignments/parallel-graph
	url = https://gitlab.cs.pub.ro/vconstantinescu2109/parallel-graph
[submodule "POO/tema1"]
	path = POO/tema1
	url = https://github.com/ACS-POO-2CB/tema-1-costaalacuparmare
[submodule "SO/assignments/mini-shell"]
	path = SO/assignments/mini-shell
	url = https://gitlab.cs.pub.ro/vconstantinescu2109/mini-shell
